/*Helper Classes*/
.row {
  display: flex;
}

.column {
  flex-direction: column;
  flex: 1;
}

.center-v {
  align-items: center;
}

.center-h {
  justify-content: center;
}

.flex {
  flex: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*Page Styling*/
body {
  font-family: 'Raleway', sans-serif;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.button {
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: 8px 15px;
  transition: all .15s ease-in-out;
}

.button:hover {
  color: #fff;
  background-color: #000;
}


/*Header*/
header {
  background: #000;
}

header h2 a {
  color: #fff;
  text-decoration: none;
}

header nav a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
  padding-bottom: 5px;
  margin-right: 20px;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: all .15s ease-in-out
}

header nav a.active {
  border-bottom: 2px solid;
  border-color: #fff;
  color: #fff;
}

header nav a:hover {
  color: #fff;
}

header nav a + a:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 2px;
  background-color: rgba(255, 255, 255, .1);
  margin-left: -20px;
}

header nav a + a {
  margin-left: 20px;
}

/*Main*/
.winner {
  padding: 40px 0;
}

.winner .column-image {
  width: 100%;
}

.hero {
  height: 400px;
  width: 100%;
  text-align: center;
  background: url('https://images.pexels.com/photos/1883/black-and-white-cup-hand-mug.jpg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

/*RecentWork*/
.recent  {
  padding: 40px 0;
}

.recent .column:not(:first-child) {
  margin-left: 20px;
}

.recent .column:not(:last-child) {
  margin-right: 20px;
}

.recent h4 {
  text-align: center;
}

.recent .image {
  display: block;
  height: 100px;
  width: 100%;
  background-image: url('https://images.pexels.com/photos/79290/black-and-white-code-programming-tech-79290.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  border-radius: 10px;
}

.recent .button {
  margin: 20px 0;
}

/*Footer*/
.social {
  padding: 40px;
  background-color: #000;
}

.social a {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
}

.social a + a {
  margin-left: 20px;
}
